body {
    height: 100%;
    margin: 0;
    background-image: url(../bg2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

html {
    height: 100%;
    margin: 0;
}

.in {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 30px;
    width: 800px;
    margin: 50px auto;
}

.ipc {
    border-radius: 0;
    outline: none;
    border-color: #fff;
}

.bb {
    background-color: #ffffff;
    text-transform: uppercase;
}

a {
    color: #fff;
}

.shd {
    text-shadow: #000 1px 1px 10px;
}